h1 {text-align: center;}

.hand{
    border: 2px solid black;
}

.card{
    border: 2px solid green;
    display: inline-block;
    width: 10vw;
    height: 16vw;
    background-color:lightsalmon;
    
}

img{
    width: 10vw;
    height: 16vw;
}

.card:hover{ 
 box-shadow: 2px 2px 8px 3px #333; 
}

.score{
    font-size: 28pt;
}


p{
    font-size: 32pt;
    text-align: center;
}

.hand{
    color:black;
    text-align: center ;
}


    

